body {
    background-color:rgb(0, 0, 0);
    
}
.maindiv{
    background-color: white;
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 55px;
    margin-right: 50px;
}
h1{
    color:rgb(122, 126, 121);
    margin-left: 20px;
    margin-top: 30px;
}

label{
    margin-left: 50px;
    text-align: left;
}
input{
    margin-left: 35px;
}

select{
   
  margin-left: 35px;
}

button{
    
    margin-left: 52px;
}
#val{
    position: relative;
    left: 300;

}
#error{
    position: relative;
    left:180;
    color: red;
}
#result{
    position: relative;
    left: 20px;
    font: 1em ariel;
    
}
footer{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 8px;
}
